# For a basic LLM setup
torch==2.4.0
transformers==4.45.1
accelerate==0.26.0
huggingface_hub==0.26.2

# For running a web server
Flask
flask-cors

# For embeddings
sentence-transformers==3.2.
scikit-learn==1.3.2